/* .profileCard {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.161);
    color: grey;
    flex: 1 0 21%;
    margin: 5px;
    min-height: 220px;
    padding: 1rem;
    transition: 0.3s all;
    position: relative;
    min-height: 220px;
}

.profileCard:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.261);

} */